$primary: rgb(82, 86, 89);
$light: #efefef;
$navbar-height: 2.5rem;
$navbar-item-img-max-height: 1.25rem;
$container-offset: 400px;
$card-content-padding: .75rem;
$card-shadow: 0px 0px 0px 1px rgba(195, 147, 147, 0.1);
$card-header-shadow: $card-shadow;
$control-radius: 0px;
$section-padding: 1.5rem;
$pre-padding: .5rem .75rem;
$spacing: 1rem;
$modal-card-head-radius: 0;
$modal-card-foot-radius: 0;
$modal-card-head-border-bottom: 0;
$modal-card-foot-border-top: 0;
$tabs-boxed-link-radius: 0;
$input-radius: 0;
$modal-card-body-padding: 2rem 3rem;
$modal-card-head-padding: 2rem 3rem;
$card-header-padding: .5rem .75rem;
$card-content-padding: .5rem .75rem;
$content-blockquote-padding: 0.5em .75em;
$content-pre-padding: 0.5em .75em;
